body a{transition: 0.5s all;  -webkit-transition: 0.5s all;  -o-transition: 0.5s all;  -moz-transition: 0.5s all;  -ms-transition: 0.5s all;}
html, body{margin: 0;  padding: 0; font-size: 100%; font-family: 'Roboto', sans-serif;}
body{background:#FFFFFF;}

/*-- header --*/
.header-top {width: 100%;  padding: 0;  justify-content: space-between;  position: relative;}
.header-top .navbar-default {margin: 0;  padding: 0;  background-color: #FFFFFF;  border-color: #FFFFFF;  border-radius: 0;}
.header-top .navbar .navbar_logo {padding: 0;  margin: 0;  position: relative;}
.header-top .navbar .navbar_logo > img {padding: 0;  margin: 19px 0;  position: relative;  display: inline-block;}
.header-top .navbar-collapse {padding: 0;  box-shadow: none;}
.header-top .navbar-default .navbar-brand {color: #fff;}
.header-top .navbar-nav {text-align: center;  background: none;}
.header-top .navbar-default .navbar-nav > li > a {padding: 29px 18px 26px;  color: #000000;  text-transform: uppercase;  font-weight: 600;  font-size: 14px;  font-family: 'Catamaran', sans-serif;  letter-spacing: 1px;}
.header-top .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #F44336;  background: none;  border-radius: 20px;}
.header-top .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color: #F44336;}
.header-top .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {color: #F44336;  background-color: #FFFFFF;}
/*-- //header --*/

/*-- architecture box section --*/
.architecture_box_section{width: 100%;  padding: 0;  margin: 0;  position: relative;  display: block;}
.architecture_box_section .architecture_box_info{width: 100%;  padding: 0;  margin: 0;  position: relative;}
.architecture_box_section .architecture_box_info h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
.architecture_box_section .architecture_box_info .architec-img {margin: 80px 0 0;  overflow: hidden;  border: 2px solid #999999;}
.architecture_box_info .architec-img img.zoom-img {transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 230px; padding: 8px; position: relative;}
.architecture_box_info .architec-img img.zoom-img:hover{transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}

.architecture_box_section .architecture_box_info2{width: 100%;  padding: 0;  margin: 0;  position: relative;}
.architecture_box_section .architecture_box_info2 h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
.architecture_box_section .architecture_box_info2 .architec-img {margin: 60px 0 0;  overflow: hidden;  border: 2px solid #999999;}
.architecture_box_info2 .architec-img img.zoom-img {transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 230px; padding: 8px;  position: relative;}
.architecture_box_info2 .architec-img img.zoom-img:hover{  transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}

.architecture_box_section .architecture_box_info3{width: 100%;  padding: 0;  margin: 0;  position: relative;}
.architecture_box_section .architecture_box_info3 h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
.architecture_box_section .architecture_box_info3 .architec-img {margin: 60px 0 0;  overflow: hidden;  border: 3px solid #999999;}
.architecture_box_info3 .architec-img img.zoom-img {transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 230px; padding: 8px;  position: relative;}
.architecture_box_info3 .architec-img img.zoom-img:hover{  transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}
/*-- //architecture box section --*/

/*-- architecture project details --*/
.architecture_project_section{width: 100%;  padding: 0;  margin: 80px 0;  position: relative;  display: block;}
.architecture_project_section .project_wrap{width:100%; padding: 0;margin: 0 auto; display:block; position: relative;}
.architecture_project_section .project_wrap .pro_info{width: 100%; padding: 0; margin: 0; display: block; position: relative;}
.architecture_project_section .project_wrap .pro_info label{width:20%; padding: 0 0 20px; margin: 0; font-size: 14px; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
.architecture_project_section .project_wrap .pro_info span{width:78%; padding: 0 0 0 6px; margin: 0; font-size: 14px; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
.architecture_project_section .project_wrap .pro_detail_box{width: 100%; height: 450px; margin: 50px 0 0; padding: 0; position: relative; display: block; overflow-y: scroll;}
.architecture_project_section .project_wrap .project-detail{padding: 0; margin: 0; position: relative; overflow-y: initial !important;}
.architecture_project_section .project_wrap .project-detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 14px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; overflow-y: auto;}

.architecture_project_section .project_slider_box{width: 100%; padding: 0; margin: 0; position: relative; display: block; border: 1px solid #000000; height: 626px;}
.architecture_project_section .project_slider_box .demo-gallery > ul {width: 100%;  margin: 0 auto;  display: inline-flex;}
.architecture_project_section .project_slider_box .demo-gallery > ul > li {list-style-type: none;}
.architecture_project_section .project_slider_box .demo-gallery > ul > li a {border: 3px solid #FFF;  border-radius: 3px;  display: block;  overflow: hidden;  position: relative;  float: left;}
.architecture_project_section .project_slider_box .demo-gallery > ul > li a > img {-webkit-transition: -webkit-transform 0.15s ease 0s;  -moz-transition: -moz-transform 0.15s ease 0s;  -o-transition: -o-transform 0.15s ease 0s;  transition: transform 0.15s ease 0s;  -webkit-transform: scale3d(1, 1, 1);  transform: scale3d(1, 1, 1);  height: 100%;  width: 100%;  border: 2px solid #cccccc;}
.architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover > img {-webkit-transform: scale3d(1.1, 1.1, 1.1);  transform: scale3d(1.1, 1.1, 1.1);}
.architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover .demo-gallery-poster > img {opacity: 1;}
.architecture_project_section .project_slider_box .demo-gallery > ul > li a .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.1);  bottom: 0;  left: 0;  position: absolute;  right: 0;  top: 0;  -webkit-transition: background-color 0.15s ease 0s;  -o-transition: background-color 0.15s ease 0s;  transition: background-color 0.15s ease 0s;}
.architecture_project_section .project_slider_box .demo-gallery > ul > li a .demo-gallery-poster > img {left: 50%;  margin-left: -10px;  margin-top: -10px;  opacity: 0;  position: absolute;  top: 50%;  -webkit-transition: opacity 0.3s ease 0s;  -o-transition: opacity 0.3s ease 0s;  transition: opacity 0.3s ease 0s;}
.architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.5);}
.architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a > img {-webkit-transition: -webkit-transform 0.15s ease 0s;  -moz-transition: -moz-transform 0.15s ease 0s;  -o-transition: -o-transform 0.15s ease 0s;  transition: transform 0.15s ease 0s;  -webkit-transform: scale3d(1, 1, 1);  transform: scale3d(1, 1, 1);  height: 100%;  width: 100%;}
.architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover > img {-webkit-transform: scale3d(1.1, 1.1, 1.1);  transform: scale3d(1.1, 1.1, 1.1);}
.architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {opacity: 1;}
.architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.1);  bottom: 0;  left: 0;  position: absolute;  right: 0;  top: 0;  -webkit-transition: background-color 0.15s ease 0s;  -o-transition: background-color 0.15s ease 0s;  transition: background-color 0.15s ease 0s;}
.architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a .demo-gallery-poster > img {left: 50%;  margin-left: -10px;  margin-top: -10px;  opacity: 0;  position: absolute;  top: 50%;  -webkit-transition: opacity 0.3s ease 0s;  -o-transition: opacity 0.3s ease 0s;  transition: opacity 0.3s ease 0s;  }
.architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.5);}
.architecture_project_section .project_slider_box .demo-gallery .video .demo-gallery-poster img {height: 48px; margin-left: -24px; margin-top: -24px; opacity: 0.8;  width: 48px;}
.architecture_project_section .project_slider_box .demo-gallery.dark > ul > li a {border: 3px solid #04070a;}
/*-- //architecture project details --*/

/*-- we details --*/
.we_section{width: 100%;  padding: 0;  margin: 80px 0;  position: relative;  display: block;}
.we_section .top-head{width: 100%; padding: 0; margin: 0; position: relative;}
.we_section .top-head h4{padding: 0 0 20px; margin: 0; font-size: 18px; text-align: center; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
.we_section .about_detail{padding: 0; margin: 0; position: relative; display: block;}
.we_section .about_detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 13px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; display: block;}

.we_section .about_think_detail{padding: 0; margin: 0; position: relative; display: block;}
.we_section .about_think_detail h3{padding: 0 0 15px; margin: 0; color: #333333; font-size: 13px; font-family: 'Roboto', sans-serif; position: relative;}
.we_section .about_think_detail h3 span{padding: 0; margin: 0; color: #333333; font-size: 13px; font-family: 'Roboto', sans-serif; position: relative;}
.we_section .about_think_detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 13px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; display: block;}

.we_section .news-section {height: 600px;  width: 100%; padding: 0; margin: 0; position: relative; display: block;}
.we_section .news-section a{text-decoration:none; color: #333333; font-size: 13px; font-family: 'Roboto', sans-serif; cursor: pointer;}
.we_section .news-section a:hover{color:#F44336;}
.we_section .news-section .container {margin: 0 auto;  padding: 0; text-align: justify; position: relative;}
.we_section .news-section .container li {width: 285px;  margin: 0;  padding: 5px 0 5px 0;  border-bottom: 1px dotted #999; display: table;}

.we_section .contact_us_form{width:100%; padding: 0;margin: 0 auto; display:block; position: relative;}
.we_section .contact_us_form .contact_info{width: 100%; padding: 0; margin: 0; display: block; position: relative;}
.we_section .contact_us_form .contact_info .label-nm{width:21%; padding: 0; margin: 0; font-size: 13px; color: #000000; font-family: 'Roboto', sans-serif; display: inline-block;}
.we_section .contact_us_form .contact_info input[type=text] {width: 77%; padding: 10px 12px; margin: 0; font-size: 13px; color: #000000; font-family: 'Roboto', sans-serif; box-sizing: border-box; border: none; border-bottom: 1px solid #7f7f7f; outline: none;}
.we_section .contact_us_form .contact_info textarea{width: 100%; padding: 10px 12px; margin: 0; font-size: 13px; color: #000000; font-family: 'Roboto', sans-serif; box-sizing: border-box; box-shadow: none; border: 1px solid #7f7f7f; border-radius: 0; resize: none;}
.we_section .contact_us_form .contact_info .main_btn{width: 100%; padding: 0; margin: 0; text-align: center; position: relative;}
.we_section .contact_us_form .contact_info .main_btn .send_btn {width: 40%;  outline: none;  color: #FFFFFF;  padding: 10px 12px;  font-size: 13px;  margin: 1em 0 0 0;  -webkit-appearance: none;  background: #F44336;  border: 2px solid #F44336;  -webkit-transition: 0.5s all;  -moz-transition: 0.5s all;  -o-transition: 0.5s all;  -ms-transition: 0.5s all;  transition: 0.5s all;  border-radius: 0;  font-family: 'Roboto', sans-serif;  text-transform: uppercase;}
.we_section .contact_us_form .contact_info .main_btn .send_btn:hover {background-color: transparent;  color: #212121;  background:none;  border: 2px solid #212121;}
/*-- //we details --*/

/*-- footer --*/
footer.nb-footer {margin: 80px 0 0;  background: #222;  border-top: 4px solid #F44336;}
footer.nb-footer .about {margin: 0 auto;  margin-top: 40px;  max-width: 1170px;  text-align: center;}
footer.nb-footer .about p {font-size: 13px;  color: #999;  margin-top: 30px; font-family: 'Roboto', sans-serif;}
footer.nb-footer .about .social-media {margin-top: 15px;}
footer.nb-footer .about .social-media ul li a {display: inline-block;  width: 45px;  height: 45px;  line-height: 45px;  border-radius: 50%;  font-size: 16px;  color: #FFFFFF; font-family: 'Roboto', sans-serif;  border: 1px solid rgba(255, 255, 255, 0.3);}
footer.nb-footer .about .social-media ul li a:hover {background: #F44336;  color: #fff;  border-color: #F44336;}
footer.nb-footer .footer-info-single {margin-top: 30px;}
footer.nb-footer .footer-info-single .title {margin: 10px 0;  color: #aaa;  text-transform: uppercase;  font-size: 16px; font-family: 'Roboto', sans-serif;  border-left: 4px solid #F44336;  padding-left: 5px;}
footer.nb-footer .footer-info-single ul li a {display: block;  color: #aaa;  padding: 2px 0;  text-decoration: none; font-family: 'Roboto', sans-serif;}
footer.nb-footer .footer-info-single ul li a:hover {color: #F44336;}
footer.nb-footer .footer-info-single p {font-size: 13px;  line-height: 20px;  color: #aaa; font-family: 'Roboto', sans-serif;}
footer.nb-footer .copyright {margin-top: 15px;  background: #111;  padding: 7px 0;}
footer.nb-footer .copyright p {margin: 0;  padding: 0; color: #999; font-family: 'Roboto', sans-serif;}
/*-- //footer --*/

/*-- to-top --*/
#toTop {display: none;  text-decoration: none;  position: fixed;  bottom: 20px;  right: 2%;  overflow: hidden;  z-index: 999;  width: 40px;  height: 40px;  border: none;  text-indent: 100%;  background: url(../images/arrow.png) no-repeat 0 0;}
#toTopHover {width: 40px;  height: 40px;  display: block;  overflow: hidden;  float: right;  opacity: 0;  -moz-opacity: 0;  filter: alpha(opacity=0);}
/*-- //to-top --*/


/* ----------- Large screens ----------- */
@media only screen  and (min-width : 1600px) {
    .container {width: 1410px !important;  margin: 0 auto;  padding: 0 !important;  display: block;  position: relative;}

    /*-- header --*/
    .header-top {width: 100%;  padding: 0;  justify-content: space-between;  position: relative;}
    .header-top .navbar-default {margin: 0;  padding: 0;  background-color: #FFFFFF;  border-color: #FFFFFF;  border-radius: 0;}
    .header-top .navbar .navbar_logo {padding: 0;  margin: 0;  position: relative;}
    .header-top .navbar .navbar_logo > img {padding: 0;  margin: 19px 0;  position: relative;  display: inline-block;}
    .header-top .navbar-collapse {padding: 0;  box-shadow: none;}
    .header-top .navbar-collapse ul{width:85%; padding: 0; margin: 0;}
    .header-top .navbar-default .navbar-brand {color: #fff;}
    .header-top .navbar-nav {text-align: center;  background: none;}
    .header-top .navbar-default .navbar-nav > li{width:25%; position: relative;}
    .header-top .navbar-default .navbar-nav > li > a {width:100%; padding: 29px 18px 0; margin:0; color: #000000;  text-transform: uppercase;  font-weight: 600;  font-size: 18px;  font-family: 'Catamaran', sans-serif;  letter-spacing: 1px; display: block;}
    .header-top .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #F44336;  background: none;  border-radius: 20px;}
    .header-top .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color: #F44336;}
    /*-- //header --*/

    /*-- architecture box section --*/
    .architecture_box_section{width: 100%;  padding: 0;  margin: 0;  position: relative;  display: block;}
    .architecture_box_section .architecture_box_info{width: 100%;  padding: 0;  margin: 0;  position: relative; display: inline-block;}
    .architecture_box_section .architecture_box_info h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
    .architecture_box_section .architecture_box_info .architec-img {margin: 80px 0 0;  overflow: hidden;  border: 2px solid #999999;}
    .architecture_box_info .architec-img img.zoom-img {transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 250px; padding: 10px;  position: relative;}
    .architecture_box_info .architec-img img.zoom-img:hover{transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}

    .architecture_box_section .architecture_box_info2{width: 100%;  padding: 0;  margin: 0;  position: relative; display: inline-block;}
    .architecture_box_section .architecture_box_info2 h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
    .architecture_box_section .architecture_box_info2 .architec-img {margin: 80px 0 0;  overflow: hidden;  border: 2px solid #999999;}
    .architecture_box_info2 .architec-img img.zoom-img {  transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 250px; padding: 10px;  position: relative;}
    .architecture_box_info2 .architec-img img.zoom-img:hover{transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}

    .architecture_box_section .architecture_box_info3{width: 100%;  padding: 0;  margin: 0;  position: relative; display: inline-block;}
    .architecture_box_section .architecture_box_info3 h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
    .architecture_box_section .architecture_box_info3 .architec-img {margin: 80px 0 0;  overflow: hidden;  border: 2px solid #999999;}
    .architecture_box_info3 .architec-img img.zoom-img {  transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 250px; padding: 10px;  position: relative;}
    .architecture_box_info3 .architec-img img.zoom-img:hover{transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}
    /*-- //architecture box section --*/

    /*-- architecture project details --*/
    .architecture_project_section{width: 100%;  padding: 0;  margin: 80px 0;  position: relative;  display: block;}

    .architecture_project_section .page_index{padding: 0; margin: 0; text-align: right; position: relative; display: block;}
    .architecture_project_section .page_index .pagination{margin: 0 0 20px;}
    .architecture_project_section .page_index .pagination .disabled > span{color: #000000; font-family: 'Roboto', sans-serif;}
    .architecture_project_section .page_index .pagination .active > span{background-color:#F44336; border-color: #F44336;}
    .architecture_project_section .page_index .pagination li a{text-decoration: none; color: #000000; font-family: 'Roboto', sans-serif;}

    .architecture_project_section .project_wrap{width:100%; padding: 0;margin: 0 auto; display:block; position: relative;}
    .architecture_project_section .project_wrap .pro_info{width: 100%; padding: 0; margin: 0; display: block; position: relative;}
    .architecture_project_section .project_wrap .pro_info label{width:20%; padding: 0 0 20px; margin: 0; font-size: 18px; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
    .architecture_project_section .project_wrap .pro_info span{width:78%; padding: 0 0 0 6px; margin: 0; font-size: 18px; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
    .architecture_project_section .project_wrap .pro_detail_box{width: 100%; height: 450px; margin: 50px 0 0; padding: 0; position: relative; display: block; overflow-y: scroll;}
    .architecture_project_section .project_wrap .project-detail{padding: 0; margin: 0; position: relative; overflow-y: initial !important;}
    .architecture_project_section .project_wrap .project-detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 15px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; overflow-y: auto;}

    .architecture_project_section .project_slider_box{width: 100%; padding: 0; margin: 0; position: relative; display: block; border: 1px solid #000000; height: 635px;}
    .architecture_project_section .project_slider_box .demo-gallery > ul {width: 100%;  margin: 0 auto;  display: inline-flex;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li {list-style-type: none;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a {border: 3px solid #FFF;  border-radius: 3px;  display: block;  overflow: hidden;  position: relative;  float: left;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a > img {-webkit-transition: -webkit-transform 0.15s ease 0s;  -moz-transition: -moz-transform 0.15s ease 0s;  -o-transition: -o-transform 0.15s ease 0s;  transition: transform 0.15s ease 0s;  -webkit-transform: scale3d(1, 1, 1);  transform: scale3d(1, 1, 1);  height: 100%;  width: 100%;  border: 2px solid #cccccc;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover > img {-webkit-transform: scale3d(1.1, 1.1, 1.1);  transform: scale3d(1.1, 1.1, 1.1);}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover .demo-gallery-poster > img {opacity: 1;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.1);  bottom: 0;  left: 0;  position: absolute;  right: 0;  top: 0;  -webkit-transition: background-color 0.15s ease 0s;  -o-transition: background-color 0.15s ease 0s;  transition: background-color 0.15s ease 0s;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a .demo-gallery-poster > img {left: 50%;  margin-left: -10px;  margin-top: -10px;  opacity: 0;  position: absolute;  top: 50%;  -webkit-transition: opacity 0.3s ease 0s;  -o-transition: opacity 0.3s ease 0s;  transition: opacity 0.3s ease 0s;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.5);}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a > img {-webkit-transition: -webkit-transform 0.15s ease 0s;  -moz-transition: -moz-transform 0.15s ease 0s;  -o-transition: -o-transform 0.15s ease 0s;  transition: transform 0.15s ease 0s;  -webkit-transform: scale3d(1, 1, 1);  transform: scale3d(1, 1, 1);  height: 100%;  width: 100%;}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover > img {-webkit-transform: scale3d(1.1, 1.1, 1.1);  transform: scale3d(1.1, 1.1, 1.1);}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {opacity: 1;}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.1);  bottom: 0;  left: 0;  position: absolute;  right: 0;  top: 0;  -webkit-transition: background-color 0.15s ease 0s;  -o-transition: background-color 0.15s ease 0s;  transition: background-color 0.15s ease 0s;}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a .demo-gallery-poster > img {left: 50%;  margin-left: -10px;  margin-top: -10px;  opacity: 0;  position: absolute;  top: 50%;  -webkit-transition: opacity 0.3s ease 0s;  -o-transition: opacity 0.3s ease 0s;  transition: opacity 0.3s ease 0s;  }
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.5);}
    .architecture_project_section .project_slider_box .demo-gallery .video .demo-gallery-poster img {height: 48px; margin-left: -24px; margin-top: -24px; opacity: 0.8;  width: 48px;}
    .architecture_project_section .project_slider_box .demo-gallery.dark > ul > li a {border: 3px solid #04070a;}
    /*-- //architecture project details --*/

    /*-- we details --*/
    .we_section{width: 100%;  padding: 0;  margin: 80px 0;  position: relative;  display: block;}
    .we_section .top-head{width: 100%; padding: 0; margin: 0; position: relative;}
    .we_section .top-head h4{padding: 0 0 20px; margin: 0; font-size: 22px; text-align: center; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
    .we_section .top-head h4 #SideNews-prev>img{width:7%; height: 10%;}
    .we_section .top-head h4 #SideNews-next>img{width:7%; height: 10%;}
    .we_section .about_detail{padding: 0; margin: 0; position: relative; display: block;}
    .we_section .about_detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 14px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; display: block;}

    .we_section .about_think_detail{padding: 0; margin: 0; position: relative; display: block;}
    .we_section .about_think_detail h3{padding: 0 0 15px; margin: 0; color: #333333; font-size: 14px; font-family: 'Roboto', sans-serif; position: relative;}
    .we_section .about_think_detail h3 span{padding: 0; margin: 0; color: #333333; font-size: 14px; font-family: 'Roboto', sans-serif; position: relative;}
    .we_section .about_think_detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 14px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; display: block;}

    .we_section .news-section {height: 600px;  width: 100%; padding: 0; margin: 0; position: relative; display: block;}
    .we_section .news-section a{text-decoration:none; color: #333333; font-size: 14px; font-family: 'Roboto', sans-serif; cursor: pointer;}
    .we_section .news-section a:hover{color:#F44336;}
    .we_section .news-section .container {margin: 0 auto;  padding: 0; text-align: justify; position: relative;}
    .we_section .news-section .container li {width: 285px;  margin: 0;  padding: 5px 0 5px 0;  border-bottom: 1px dotted #999; display: table;}

    .we_section .contact_us_form{width:100%; padding: 0;margin: 0 auto; display:block; position: relative;}
    .we_section .contact_us_form .contact_info{width: 100%; padding: 0; margin: 0; display: block; position: relative;}
    .we_section .contact_us_form .contact_info .label-nm{width:20%; padding: 0; margin: 0; font-size: 14px; color: #000000; font-family: 'Roboto', sans-serif; display: inline-block;}
    .we_section .contact_us_form .contact_info input[type=text] {width: 78%; padding: 10px 12px; margin: 0; font-size: 14px; color: #000000; font-family: 'Roboto', sans-serif; box-sizing: border-box; border: none; border-bottom: 1px solid #7f7f7f; outline: none;}
    .we_section .contact_us_form .contact_info textarea{width: 100%; padding: 10px 12px; margin: 0; font-size: 14px; color: #000000; font-family: 'Roboto', sans-serif; box-sizing: border-box; box-shadow: none; border: 1px solid #7f7f7f; border-radius: 0; resize: none;}
    .we_section .contact_us_form .contact_info .main_btn{width: 100%; padding: 0; margin: 0; text-align: center; position: relative;}
    .we_section .contact_us_form .contact_info .main_btn .send_btn {width: 40%;  outline: none;  color: #FFFFFF;  padding: 10px 12px;  font-size: 15px;  margin: 1em 0 0 0;  -webkit-appearance: none;  background: #F44336;  border: 2px solid #F44336;  -webkit-transition: 0.5s all;  -moz-transition: 0.5s all;  -o-transition: 0.5s all;  -ms-transition: 0.5s all;  transition: 0.5s all;  border-radius: 0;  font-family: 'Roboto', sans-serif;  text-transform: uppercase;}
    .we_section .contact_us_form .contact_info .main_btn .send_btn:hover {background-color: transparent;  color: #212121;  background:none;  border: 2px solid #212121;}
    /*-- //we details --*/

    /*-- footer --*/
    footer.nb-footer {width:100%; margin: 80px 0 0;  background: #222;  border-top: 4px solid #F44336; position: relative;}
    footer.nb-footer .about {margin: 0 auto;  margin-top: 40px;  max-width: 1170px;  text-align: center; font-family: 'Roboto', sans-serif;}
    footer.nb-footer .about p {font-size: 13px;  color: #999;  margin-top: 30px; font-family: 'Roboto', sans-serif;}
    footer.nb-footer .about .social-media {margin-top: 15px;}
    footer.nb-footer .about .social-media ul li a {display: inline-block;  width: 45px;  height: 45px;  line-height: 45px;  border-radius: 50%;  font-size: 16px;  color: #FFFFFF; font-family: 'Roboto', sans-serif;  border: 1px solid rgba(255, 255, 255, 0.3);}
    footer.nb-footer .about .social-media ul li a:hover {background: #F44336;  color: #fff;  border-color: #F44336;}
    footer.nb-footer .footer-info-single {margin-top: 30px;}
    footer.nb-footer .footer-info-single .title {margin: 10px 0;  color: #aaa;  text-transform: uppercase;  font-size: 16px; font-family: 'Roboto', sans-serif; border-left: 4px solid #F44336;  padding-left: 5px;}
    footer.nb-footer .footer-info-single ul li a {display: block;  color: #aaa;  padding: 2px 0;  text-decoration: none; font-family: 'Roboto', sans-serif;}
    footer.nb-footer .footer-info-single ul li a:hover {color: #F44336;}
    footer.nb-footer .footer-info-single p {margin:0; font-size: 13px;  line-height: 20px;  color: #aaa; font-family: 'Roboto', sans-serif;}
    footer.nb-footer .copyright {margin-top: 15px;  background: #111;  padding: 7px 0;}
    footer.nb-footer .copyright p {margin: 0;  padding: 0; color: #999; font-family: 'Roboto', sans-serif;}
    /*-- //footer --*/

    /*-- to-top --*/
    #toTop {display: none;  text-decoration: none;  position: fixed;  bottom: 20px;  right: 2%;  overflow: hidden;  z-index: 999;  width: 40px;  height: 40px;  border: none;  text-indent: 100%;  background: url(../images/arrow.png) no-repeat 0 0;}
    #toTopHover {width: 40px;  height: 40px;  display: block;  overflow: hidden;  float: right;  opacity: 0;  -moz-opacity: 0;  filter: alpha(opacity=0);}
    /*-- //to-top --*/
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation: landscape) {
    /*-- header --*/
    .header-top {width: 100%;  padding: 0;  justify-content: space-between;  position: relative;}
    .header-top .navbar-default {margin: 0;  padding: 0;  background-color: #FFFFFF;  border-color: #FFFFFF;  border-radius: 0;}
    .header-top .navbar .navbar_logo {padding: 0;  margin: 0;  position: relative;}
    .header-top .navbar .navbar_logo > img {padding: 0;  margin: 19px 0;  position: relative;  display: inline-block;}
    .header-top .navbar-collapse {padding: 0;  box-shadow: none;}
    .header-top .navbar-default .navbar-brand {color: #fff;}
    .header-top .navbar-nav {text-align: center;  background: none;}
    .header-top .navbar-default .navbar-nav > li > a {padding: 29px 16px 26px;  color: #000000;  text-transform: uppercase;  font-weight: 600;  font-size: 14px;  font-family: 'Catamaran', sans-serif;  letter-spacing: 1px;}
    .header-top .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #F44336;  background: none;  border-radius: 20px;}
    .header-top .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color: #F44336;}
    .header-top .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {color: #F44336;  background-color: #FFFFFF;}
    /*-- //header --*/

    /*-- architecture box section --*/
    .architecture_box_section{width: 100%;  padding: 0;  margin: 0;  position: relative;  display: block;}
    .architecture_box_section .architecture_box_info{width: 100%;  padding: 0;  margin: 0;  position: relative;}
    .architecture_box_section .architecture_box_info h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
    .architecture_box_section .architecture_box_info .architec-img {margin: 80px 0 0;  overflow: hidden;  border: 2px solid #999999;}
    .architecture_box_info .architec-img img.zoom-img {transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 230px; padding: 8px; position: relative;}
    .architecture_box_info .architec-img img.zoom-img:hover{transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}

    .architecture_box_section .architecture_box_info2{width: 100%;  padding: 0;  margin: 0;  position: relative;}
    .architecture_box_section .architecture_box_info2 h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
    .architecture_box_section .architecture_box_info2 .architec-img {margin: 60px 0 0;  overflow: hidden;  border: 2px solid #999999;}
    .architecture_box_info2 .architec-img img.zoom-img {transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 230px; padding: 8px;  position: relative;}
    .architecture_box_info2 .architec-img img.zoom-img:hover{  transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}

    .architecture_box_section .architecture_box_info3{width: 100%;  padding: 0;  margin: 0;  position: relative;}
    .architecture_box_section .architecture_box_info3 h3{padding:20px; margin:0; text-align:center; text-transform:uppercase; color:#000000; font-size:18px; font-family: 'Roboto', sans-serif;}
    .architecture_box_section .architecture_box_info3 .architec-img {margin: 60px 0 0;  overflow: hidden;  border: 2px solid #999999;}
    .architecture_box_info3 .architec-img img.zoom-img {transform: scale(1, 1);  -webkit-transform: scale(1, 1);  -moz-transform: scale(1, 1);  -ms-transform: scale(1, 1);  -o-transform: scale(1, 1);  transition-timing-function: ease-out;  -webkit-transition-timing-function: ease-out;  -moz-transition-timing-function: ease-out;  -ms-transition-timing-function: ease-out;  -o-transition-timing-function: ease-out;  -webkit-transition-duration: .5s;  -moz-transition-duration: .5s;  -ms-transition-duration: .5s;  -o-transition-duration: .5s;  height: 230px; padding: 8px;  position: relative;}
    .architecture_box_info3 .architec-img img.zoom-img:hover{  transform: scale(1.1);  -webkit-transform: scale(1.1);  -moz-transform: scale(1.1);  -ms-transform: scale(1.1);  -o-transform: scale(1.1);  -webkit-transition-timing-function: ease-in-out;  -webkit-transition-duration: 750ms;  -moz-transition-timing-function: ease-in-out;  -moz-transition-duration: 750ms;  -ms-transition-timing-function: ease-in-out;  -o-transition-timing-function: ease-in-out;  -ms-transition-duration: 750ms;  -o-transition-duration: 750ms;  overflow: hidden;}
    /*-- //architecture box section --*/

    /*-- architecture project details --*/
    .architecture_project_section{width: 100%;  padding: 0;  margin: 80px 0;  position: relative;  display: block;}
    .architecture_project_section .project_wrap{width:100%; padding: 0;margin: 0 auto; display:block; position: relative;}
    .architecture_project_section .project_wrap .pro_info{width: 100%; padding: 0; margin: 0; display: block; position: relative;}
    .architecture_project_section .project_wrap .pro_info label{width:20%; padding: 0 0 20px; margin: 0; font-size: 14px; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
    .architecture_project_section .project_wrap .pro_info span{width:78%; padding: 0 0 0 6px; margin: 0; font-size: 14px; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
    .architecture_project_section .project_wrap .pro_detail_box{width: 100%; height: 450px; margin: 50px 0 0; padding: 0; position: relative; display: block; overflow-y: scroll;}
    .architecture_project_section .project_wrap .project-detail{padding: 0; margin: 0; position: relative; overflow-y: initial !important;}
    .architecture_project_section .project_wrap .project-detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 14px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; overflow-y: auto;}

    .architecture_project_section .project_slider_box{width: 100%; padding: 0; margin: 0; position: relative; display: block; border: 1px solid #000000; height: 626px;}
    .architecture_project_section .project_slider_box .demo-gallery > ul {width: 100%;  margin: 0 auto;  display: inline-flex;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li {list-style-type: none;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a {border: 3px solid #FFF;  border-radius: 3px;  display: block;  overflow: hidden;  position: relative;  float: left;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a > img {-webkit-transition: -webkit-transform 0.15s ease 0s;  -moz-transition: -moz-transform 0.15s ease 0s;  -o-transition: -o-transform 0.15s ease 0s;  transition: transform 0.15s ease 0s;  -webkit-transform: scale3d(1, 1, 1);  transform: scale3d(1, 1, 1);  height: 100%;  width: 100%;  border: 2px solid #cccccc;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover > img {-webkit-transform: scale3d(1.1, 1.1, 1.1);  transform: scale3d(1.1, 1.1, 1.1);}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover .demo-gallery-poster > img {opacity: 1;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.1);  bottom: 0;  left: 0;  position: absolute;  right: 0;  top: 0;  -webkit-transition: background-color 0.15s ease 0s;  -o-transition: background-color 0.15s ease 0s;  transition: background-color 0.15s ease 0s;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a .demo-gallery-poster > img {left: 50%;  margin-left: -10px;  margin-top: -10px;  opacity: 0;  position: absolute;  top: 50%;  -webkit-transition: opacity 0.3s ease 0s;  -o-transition: opacity 0.3s ease 0s;  transition: opacity 0.3s ease 0s;}
    .architecture_project_section .project_slider_box .demo-gallery > ul > li a:hover .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.5);}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a > img {-webkit-transition: -webkit-transform 0.15s ease 0s;  -moz-transition: -moz-transform 0.15s ease 0s;  -o-transition: -o-transform 0.15s ease 0s;  transition: transform 0.15s ease 0s;  -webkit-transform: scale3d(1, 1, 1);  transform: scale3d(1, 1, 1);  height: 100%;  width: 100%;}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover > img {-webkit-transform: scale3d(1.1, 1.1, 1.1);  transform: scale3d(1.1, 1.1, 1.1);}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {opacity: 1;}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.1);  bottom: 0;  left: 0;  position: absolute;  right: 0;  top: 0;  -webkit-transition: background-color 0.15s ease 0s;  -o-transition: background-color 0.15s ease 0s;  transition: background-color 0.15s ease 0s;}
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a .demo-gallery-poster > img {left: 50%;  margin-left: -10px;  margin-top: -10px;  opacity: 0;  position: absolute;  top: 50%;  -webkit-transition: opacity 0.3s ease 0s;  -o-transition: opacity 0.3s ease 0s;  transition: opacity 0.3s ease 0s;  }
    .architecture_project_section .project_slider_box .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.5);}
    .architecture_project_section .project_slider_box .demo-gallery .video .demo-gallery-poster img {height: 48px; margin-left: -24px; margin-top: -24px; opacity: 0.8;  width: 48px;}
    .architecture_project_section .project_slider_box .demo-gallery.dark > ul > li a {border: 3px solid #04070a;}
    /*-- //architecture project details --*/

    /*-- we details --*/
    .we_section{width: 100%;  padding: 0;  margin: 80px 0;  position: relative;  display: block;}
    .we_section .top-head{width: 100%; padding: 0; margin: 0; position: relative;}
    .we_section .top-head h4{padding: 0 0 20px; margin: 0; font-size: 18px; text-align: center; text-transform: uppercase; color: #000000; font-family: 'Catamaran', sans-serif; position: relative;}
    .we_section .about_detail{padding: 0; margin: 0; position: relative; display: block;}
    .we_section .about_detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 13px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; display: block;}

    .we_section .about_think_detail{padding: 0; margin: 0; position: relative; display: block;}
    .we_section .about_think_detail h3{padding: 0 0 15px; margin: 0; color: #333333; font-size: 13px; font-family: 'Roboto', sans-serif; position: relative;}
    .we_section .about_think_detail h3 span{padding: 0; margin: 0; color: #333333; font-size: 13px; font-family: 'Roboto', sans-serif; position: relative;}
    .we_section .about_think_detail p{padding: 0 0 20px; margin: 0; color: #333333; font-size: 13px; text-align: justify; font-family: 'Roboto', sans-serif; position: relative; display: block;}

    .we_section .news-section {height: 600px;  width: 100%; padding: 0; margin: 0; position: relative; display: block;}
    .we_section .news-section a{text-decoration:none; color: #333333; font-size: 13px; font-family: 'Roboto', sans-serif; cursor: pointer;}
    .we_section .news-section a:hover{color:#F44336;}
    .we_section .news-section .container {margin: 0 auto;  padding: 0; text-align: justify; position: relative;}
    .we_section .news-section .container li {width: 285px;  margin: 0;  padding: 5px 0 5px 0;  border-bottom: 1px dotted #999; display: table;}

    .we_section .contact_us_form{width:100%; padding: 0;margin: 0 auto; display:block; position: relative;}
    .we_section .contact_us_form .contact_info{width: 100%; padding: 0; margin: 0; display: block; position: relative;}
    .we_section .contact_us_form .contact_info .label-nm{width:21%; padding: 0; margin: 0; font-size: 13px; color: #000000; font-family: 'Roboto', sans-serif; display: inline-block;}
    .we_section .contact_us_form .contact_info input[type=text] {width: 77%; padding: 10px 12px; margin: 0; font-size: 13px; color: #000000; font-family: 'Roboto', sans-serif; box-sizing: border-box; border: none; border-bottom: 1px solid #7f7f7f; outline: none;}
    .we_section .contact_us_form .contact_info textarea{width: 100%; padding: 10px 12px; margin: 0; font-size: 13px; color: #000000; font-family: 'Roboto', sans-serif; box-sizing: border-box; box-shadow: none; border: 1px solid #7f7f7f; border-radius: 0; resize: none;}
    .we_section .contact_us_form .contact_info .main_btn{width: 100%; padding: 0; margin: 0; text-align: center; position: relative;}
    .we_section .contact_us_form .contact_info .main_btn .send_btn {width: 40%;  outline: none;  color: #FFFFFF;  padding: 10px 12px;  font-size: 13px;  margin: 1em 0 0 0;  -webkit-appearance: none;  background: #F44336;  border: 2px solid #F44336;  -webkit-transition: 0.5s all;  -moz-transition: 0.5s all;  -o-transition: 0.5s all;  -ms-transition: 0.5s all;  transition: 0.5s all;  border-radius: 0;  font-family: 'Roboto', sans-serif;  text-transform: uppercase;}
    .we_section .contact_us_form .contact_info .main_btn .send_btn:hover {background-color: transparent;  color: #212121;  background:none;  border: 2px solid #212121;}
    /*-- //we details --*/

    /*-- footer --*/
    footer.nb-footer {margin: 80px 0 0;  background: #222;  border-top: 4px solid #F44336;}
    footer.nb-footer .about {margin: 0 auto;  margin-top: 40px;  max-width: 1170px;  text-align: center;}
    footer.nb-footer .about p {font-size: 13px;  color: #999;  margin-top: 30px; font-family: 'Roboto', sans-serif;}
    footer.nb-footer .about .social-media {margin-top: 15px;}
    footer.nb-footer .about .social-media ul li a {display: inline-block;  width: 45px;  height: 45px;  line-height: 45px;  border-radius: 50%;  font-size: 16px;  color: #FFFFFF; font-family: 'Roboto', sans-serif;  border: 1px solid rgba(255, 255, 255, 0.3);}
    footer.nb-footer .about .social-media ul li a:hover {background: #F44336;  color: #fff;  border-color: #F44336;}
    footer.nb-footer .footer-info-single {margin-top: 30px;}
    footer.nb-footer .footer-info-single .title {margin: 10px 0;  color: #aaa;  text-transform: uppercase;  font-size: 16px; font-family: 'Roboto', sans-serif;  border-left: 4px solid #F44336;  padding-left: 5px;}
    footer.nb-footer .footer-info-single ul li a {display: block;  color: #aaa;  padding: 2px 0;  text-decoration: none; font-family: 'Roboto', sans-serif;}
    footer.nb-footer .footer-info-single ul li a:hover {color: #F44336;}
    footer.nb-footer .footer-info-single p {font-size: 13px;  line-height: 20px;  color: #aaa; font-family: 'Roboto', sans-serif;}
    footer.nb-footer .copyright {margin-top: 15px;  background: #111;  padding: 7px 0;}
    footer.nb-footer .copyright p {margin: 0;  padding: 0; color: #999; font-family: 'Roboto', sans-serif;}
    /*-- //footer --*/

    /*-- to-top --*/
    #toTop {display: none;  text-decoration: none;  position: fixed;  bottom: 20px;  right: 2%;  overflow: hidden;  z-index: 999;  width: 40px;  height: 40px;  border: none;  text-indent: 100%;  background: url(../images/arrow.png) no-repeat 0 0;}
    #toTopHover {width: 40px;  height: 40px;  display: block;  overflow: hidden;  float: right;  opacity: 0;  -moz-opacity: 0;  filter: alpha(opacity=0);}
    /*-- //to-top --*/
}
